{templateType Stepapo\Data\Control\Value\ValueTemplate}

{foreach is_array($value) ? $value : [$value] as $v}
	{continueIf $v === null}
	{php $v = $column->multiply ? $v * $column->multiply : $v}
	<a n:tag-if="$column->link" href="{plink $column->link->destination ...array_values($linkArgs)}">
		<span class="no-wrap">
			{$column->prepend}{$column->latteFilter ? ($this->filters->{$column->latteFilter->name})($v, ...$column->latteFilter->args) : $v}{$column->append}
		</span>
	</a>{sep}{if $view->name == 'table'}<br>{else}, {/}{/}
{/}
